body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  padding: 0 1rem;
  display: flex;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem;
}

.grid {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-content {
  height: 150px;
  overflow: scroll;
}

.card-title {
  text-align: center;
  background-color: #01579b;
  color: white;

}

.cart-meal {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  justify-content: center;
}

.card-meal {
  justify-content: space-between;
}

.btn-back {
  top: 100px;
  position: fixed;
  z-index: 9;
}

img {
  width: 450px;
}

img,
iframe {
  max-width: 100%;
}

iframe {
  height: 350px;
  max-width: 600px;
  width: 100%;
}

.search-panel {
  display: flex;
  align-items: center;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 20px 0;
}

.recipe-text {
  max-width: 380px;
  overflow: auto;
  max-width: 380px;
  height: 250px;
}

.video-title {
  margin-bottom: 20px;
}

.img-recipe {
  height: fit-content;
}

@media (max-width: 890px) {
  .recipe-container {
    flex-direction: column;
  }

  .recipe-text {
    max-width: none;
    height: auto;
  }

  nav .brand-logo {
    left: 10%;
  }
}

@media(max-width: 560px) {
  nav .brand-logo {
    left: 16%;
    font-size: 20px;
  }
}